<div class="header">
    <nav class="main-navbar ">
        <a class="brand" href="{{ .Site.BaseURL }}">
        {{ with .Params.Navbar.Logo }}
            <img src="{{ . }}" alt="{{ .Site.Title }}">
        {{ end }}
        {{ with .Params.Navbar.Title }}
            {{ . }}
        {{ end }}
        </a>

        <button class="collapse-button" type="button"
                data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapsable-content" id="navbarNav">
            <div>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .Page }}

                <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
                {{ if .Pre }}
                   target="{{ .Pre }}"
                {{ end }}
                   href="{{ .URL | absLangURL }}">
                {{ with .Page.Params.icon }}
                    <i class="far {{ . }} mr-1"></i>
                {{ end }}
                {{ .Name }}
                </a>
            {{ end }}
            {{ end }}

            {{ partial "components/i18n-switch" . }}
            </div>
        </div>
    </nav>
</div>
