{{ define "main" }}
{{ partial "components/header.html" . }}

<div class="blog">
    {{ partial "blog/hero" . }}

    <div class="white-bg">
        {{ with .Params.cover }}
        <div class="cover"
             style="background-image: url('{{ . | absURL }}');"
        ></div>
        {{ end }}

        <div class="container single">
            <section class="main">
                <div class="row justify-content-center post-title">
                    <div class="col-8 col-md-10">
                        <h1>{{ .Title }}</h1>
                    </div>
                </div>

                <div class="row justify-content-center post-content">
                    <div class="col-8 col-md-10">
                        {{ .Content }}
                    </div>
                </div>
            </section>

            {{ if .Site.DisqusShortname }}
            <div class="row comments">
                <div class="col-12">
                    {{ template "_internal/disqus.html" . }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
