$balanced-white: #FBFCFD;
$corporate-grey: #565657;

$heavy-purple: #140D22;
$discrete-purple: #211734;
$vibrant-purple: #8B5AE3;

$heavy-yellow: #F1B61A;
$warm-yellow: #F1B61A;

$body-bg: $heavy-purple;
$body-color: $balanced-white;

$primary: $warm-yellow;

